.hero-area {
  display: block;
  height: 207px;
  background: #00d1c1;
  width: 100%;
}

.welcome-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  padding: 16px;
}

.sub-head {
  font-family: Source Sans Pro, "arial";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.8;
  margin: 0 0 0 16px;
}

.simpl-logo {
  height: 30px;
}

.payment-account-boxes {
  display: flex;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
}
